<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../../stylesheets/posts/egito.css" />
    <link rel="stylesheet" href="../../../stylesheets/logo.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="d-flex w-100 h-100 mx-auto flex-column text-white">
      <div
        id="full"
        class="cover-container d-flex w-100 p-3 mx-auto flex-column"
      >
        <header class="text-dark">
          <div class="align-items-center">
            <div id="logocontainer" class="d-inline-flex">
              <img id="logo" alt="" src="../../../pics/logo.png" />
            </div>
            <nav class="nav nav-masthead justify-content-center float-md-right">
              <a class="nav-link" aria-current="page" href="../../../index.html"
                >Home</a
              >
              <a class="nav-link" href="../../quemsomos/index.html"
                >Quem Somos</a
              >
              <a class="nav-link" href="../../nossasviagens/index.html"
                >Nossas Viagens</a
              >
            </nav>
          </div>
        </header>

        <h1 class="mt-5">Egito</h1>

        <p class="mt-3">
          Terra de mistérios e superstições, oferece uma viagem ao passado
          graças aos seus majestosos templos e maravilhas da antiguidade.
        </p>
        <p>
          Considerado o berço das civilizações, o Egito fascina com sua rica
          história e grandes monumentos. Entre os inúmeros atrativos do país, há
          possibilidade de desfrutar de um cruzeiro pelo Nilo, contemplar as
          impressionantes pirâmides, degustar a culinária com suas especiarias
          e, mergulhar na imensidão do Mar Vermelho.
        </p>
        <p>
          As Pirâmides de Gizé e a Esfinge são os dois pontos turísticos mais
          famosos. Elas fazem parte de um complexo chamado de Necrópole de Gizé,
          que inclui as três Pirâmides — Quéops, Quéfren, Miquerinos — e a
          Grande Esfinge. Ficam a cerca de 20 km do Cairo.
        </p>
        <p>
          O Mercado de Khan El Khalili, é a maior feira popular do Cairo. Ao
          longo de suas ruas cruzadas, pode-se conhecer comércios e comprar
          produtos como tecidos, papiros, cristais, joias, roupas e lembranças.
          Também no Cairo, encontramos a Igreja Copta Cristã de Abu Serga (São
          Sérgio e São Baco), foi construída no século 11 sobre uma gruta onde,
          acreditam os egípcios, a Sagrada Família se abrigou em sua fuga ao
          Egito. Este local fica aberto para visitação.
        </p>
        <p>
          Em Alexandria, cidade portuária do Mediterrâneo, no período
          helenístico, abrigou um farol que é considerado uma das Sete
          Maravilhas do Mundo Antigo, além de uma famosa biblioteca, reencarnada
          na ultramoderna Bibliotheca Alexandrina, em forma de disco. A cidade
          também tem marcos greco-romanos, cafés do velho mundo e praias
          arenosas.
        </p>
        <p>
          Programe também uma visita as cidades como Luxor, Aswan e Sharm el
          Sheikh. Sendo assim, cada uma dessas cidades possui características
          particularmente especiais.
        </p>
        <p>
          Antes de viajar para o país, faça um bom planejamento e busque o apoio
          de uma agência especializada.
        </p>
        <p>
          Conte com a assessoria da Etto Trip e orientação de quem conhece este
          destino.
        </p>

        <img class="img-fluid mt-1" alt="" src="../../../pics/egito/piramides.jpg" />

        <img class="img-fluid mt-1" alt="" src="../../../pics/egito/1.jpg" />

        <img class="img-fluid mt-1" alt="" src="../../../pics/egito/baloes.jpg" />

        <img class="img-fluid mt-1" alt="" src="../../../pics/egito/baloes2.jpg" />

        <img class="img-fluid mt-1" alt="" src="../../../pics/egito/marazul.jpg" />

        <img class="img-fluid mt-1" alt="" src="../../../pics/egito/mercado.jpg" />

        <img class="img-fluid mt-1" alt="" src="../../../pics/egito/ruinas.jpg" />
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
