body {
    background-color: black;
    }
.cover-container {
  max-width: 80vw;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
    color: rgba(255,255,255,0.5);
    border-bottom-color:rgba(255,255,255,0.5);
}

.nav-link.active {
    color: white;
    border-bottom-color:rgb(32,56,106);

}

.btn-secondary, .btn-secondary:hover{
    color: #333;
    text-shadow: none;
}

#logo {
    max-height: 60px;
}

@media (max-width: 768px) {
    #full {
        max-width: 100vw;
    }
    #logo {
       align-items: center;
    }
    #logocontainer{
        width: 100%;
        justify-content: center;
    }
}