<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etto Trip</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

  <link rel="stylesheet" href="../../stylesheets/quemsomos.css">
  
  <script src="https://kit.fontawesome.com/015e14c128.js" crossorigin="anonymous"></script>
  
</head>

    <body class="d-flex text-white bg-dark">
        <div class="d-flex w-100 h-100 mx-auto flex-column">
          <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
            
    <header class=>
      <div>
          <h3 class="float-md-left text-center mb-0">Etto Trip</h3>
          <nav class="nav nav-masthead justify-content-center float-md-right">
            <a class="nav-link" aria-current="page" href="../../index.html">Home</a>
            <a class="nav-link active" href="#">Quem Somos</a>
            <a class="nav-link" href="../nossasviagens/index.html">Nossas Viagens</a>
                           
          </nav>
      </div>
    </div>
      </header>

            <main class="px-3">

            <div class="row  mt-md-5">
              <div class="col-md-2"> </div>
             <div class="col-md-4 px-md-3" id="historia">
              <h4 class="text-right"> História </h4>
              <div id="conteudoHist" class="px-md-3"> 
                
               <p class="mt-3 pt-5"> A Etto Trip surgiu a partir da demanda de amigos e 
                clientes satisfeitos com a expertise de uma vida trabalhando com turismo 
                de sua fundandora, Liane Comassetto.</p>

                 <p> AApós uma breve aposentadoria da carreira de 30 anos de trabalho na área de turismo, 
                  organizando viagens para países como os Estados Unidos, 
                  Israel, Egito, França, Itália, Alemanha, Espanha, Marrocos, 
                  Turquia, Croácia, Grécia, Portugal, Suíça, Colômbia, Argentina, 
                  Uruguai, entre outros, os amigos e companheiros de trips 
                  pelo mundo seguiram pedindo dicas na escolha de destinos, 
                  passeios e o auxílio na escolha de passagens, hotéis e seguros. </p>

               <p class="mb-5 pb-5">
                Assim nasceu a Etto Trip, uma empresa com muita bagagem, 
                para oferecer a maior segurança e opções personalizadas para suas viagens especiais.
              </p>
              </div>
            </div>
                <div class="col-md-4 px-md-3">
              <h4 class="text-right mt-md-5"> Como ajudamos </h4>
              <div id="produtos" class="px-md-3">
                
              <p class="pt-5"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-clipboard-heart" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5v-1Zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1Z"/>
                  <path d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2Z"/>
                  <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982Z"/>
                </svg>
                Planejamento <br></p> 
              <p> Ajudamos você a escolher os melhores locais e datas, os voos mais adequados, 
                hotéis de acordo com sua conveniência, reservar traslados, passeios e outras necessidades. 
                </p> 
                    <p> 
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-map" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"/>
                      </svg>                
                      Assessoria <br></p> 
                      <p> Facilitamos diversos aspectos para a sua viagem, 
                        precisa de um seguro para garantir eventuais necessidades de saúde durante as férias? 
                        Podemos oferecer as melhores soluções nacionais e internacionais.  </p> 
                  <p> 
                    <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-camera2" viewBox="0 0 16 16">
                      <path d="M5 8c0-1.657 2.343-3 4-3V4a4 4 0 0 0-4 4z"/>
                      <path d="M12.318 3h2.015C15.253 3 16 3.746 16 4.667v6.666c0 .92-.746 1.667-1.667 1.667h-2.015A5.97 5.97 0 0 1 9 14a5.972 5.972 0 0 1-3.318-1H1.667C.747 13 0 12.254 0 11.333V4.667C0 3.747.746 3 1.667 3H2a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1h.682A5.97 5.97 0 0 1 9 2c1.227 0 2.367.368 3.318 1zM2 4.5a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0zM14 8A5 5 0 1 0 4 8a5 5 0 0 0 10 0z"/>
                    </svg>
                    Acompanhamento <br></p> 
                  <p class="mb-5 pb-5"> Nossa especial atenção para quem quer viajar em grupo, 
                    com amigos ou com a família e gostaria de um auxílio para organizar a viagem, acompanhar, 
                    proporcionando que tudo saia da melhor maneira possível para os diferentes integrantes. </p>
                    </div>
              </div>
            <div class="col-md-2"> </div>
            </main>

        </div>
        <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
</body>
</html>