<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../stylesheets/nossasviagens.css" />
    <title>Document</title>
  </head>

  <body class="d-flex text-white">
    <div class="d-flex w-100 h-100 mx-auto flex-column text-white">
      <div id="full" class="cover-container d-flex w-100 p-3 mx-md-auto flex-column"
      >
        <header class="text-dark">
          <div class="align-items-center">
            <div id="logocontainer" class="d-inline-flex">
              <img id="logo" alt="" src="../../pics/logo.png" />
            </div>
            <nav class="nav nav-masthead justify-content-center float-md-right">
              <a class="nav-link" aria-current="page" href="../../index.html"
                >Home</a
              >
              <a class="nav-link" href="../quemsomos/index.html">Quem Somos</a>
              <a class="nav-link active" href="../nossasviagens/index.html"
                >Nossas Viagens</a
              >
            </nav>
          </div>
        </header>

        <!-- méxico -->
        <div class="card">
          <div class="row">
            <div class="col-md-4">
              <img
                class="img-fluid"
                alt=""
                mexico/08oct 052.JPG.jpg
                src="../../pics/mexico/1.JPG"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title mb-1 text-dark">MÉXICO</h5>
                <p class="card-text text-dark">
                  Terra de Nossa Senhora de Guadalupe, o México dedica à Santíssima Virgem de Guadalupe, 
                  o que é considerado um dos principais 
                  templo da Igreja Católica no continente americano e um dos mais visitados do mundo.
                </p>
                <p class="card-text">
                  <small class="text-muted"> Cidade do México, Acapulco, Taxco </small>
                </p>
                <a class="btn btn-primary" href="mexico/index.html">Leia mais</a>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="row">
            <div class="col-md-4">
              <img
                class="img-fluid"
                alt=""
                src="../../pics/egito/piramides.jpg"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title mb-1 text-dark">EGITO</h5>
                <p class="card-text text-dark">
                  Terra de mistérios e superstições, oferece uma viagem ao
                  passado graças aos seus majestosos templos e maravilhas da
                  antiguidade.
                </p>
                <p class="card-text">
                  <small class="text-muted"> Cairo, Egito </small>
                </p>
                <a class="btn btn-primary" href="egito/index.html">Leia mais</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
