<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../../stylesheets/posts/egito.css" />
    <link rel="stylesheet" href="../../../stylesheets/logo.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="d-flex w-100 h-100 mx-auto flex-column text-white">
      <div
        id="full"
        class="cover-container d-flex w-100 p-3 mx-auto flex-column"
      >
        <header class="text-dark">
          <div class="align-items-center">
            <div id="logocontainer" class="d-inline-flex">
              <img id="logo" alt="" src="../../../pics/logo.png" />
            </div>
            <nav class="nav nav-masthead justify-content-center float-md-right">
              <a class="nav-link" aria-current="page" href="../../../index.html"
                >Home</a
              >
              <a class="nav-link" href="../../quemsomos/index.html"
                >Quem Somos</a
              >
              <a class="nav-link" href="../../nossasviagens/index.html"
                >Nossas Viagens</a
              >
            </nav>
          </div>
        </header>

        <h1 class="mt-5">México</h1>

        <p>
          Terra de Nossa Senhora de Guadalupe, o México dedica à Santíssima
          Virgem de Guadalupe, o que é considerado um dos principais templo da
          Igreja Católica no continente americano e um dos mais visitados do
          mundo.
        </p>
        <p>
          O país tem uma cultura rica, contemplada com uma série de dialetos, em
          decorrência das dezenas de povos indígenas que lá vivem. A gastronomia
          mexicana é Patrimônio Imaterial da Humanidade. Uma das principais
          características é o seu sabor intenso e picante. Na música destacam-se
          os mariachi.
        </p>
        <p>
          Uma das festas mais populares é o Dia dos Mortos. Para os mexicanos, a
          morte representa libertação. Assim, nessa festa que é comemorada entre
          os dias 31 de outubro e 2 de novembro, os esqueletos são venerados. Há
          doces e brinquedos em forma de esqueleto para as crianças.
        </p>
        <p>
          Há artistas que se destacam. Diego Rivera é um conceituado pintor do
          movimento chamado “muralismo mexicano”. Frida Kahlo, sua esposa, se
          destacou igualmente na pintura.
        </p>
        <p>
          Em suas praias, a natação, o mergulho, passeios ecológicos, são apenas
          algumas das muitas atividades ao ar livre que suas praias oferecem.
          Mas para relaxar, nada melhor que um guarda-sol, uma espreguiçadeira e
          um bom livro sobre Não importa a estação, viagem ao México são tão
          mágicas no verão quanto no inverno.
        </p>
        <p>
          Para quem deseja relaxar à beira-mar tem uma variedade de atividades
          divertidas e emocionantes, cercada por um ambiente natural exótico,
          com uma abundância de resorts, Cancun tornou um destino mundialmente
          famoso. Se desejas conhecer um pouco da cultura, as famosas pirâmides
          podem ser encontradas a 50 km ao norte da capital, em Teotihuacan,
          cujo significado é "o local onde os homens se tornam deuses". A cidade
          é uma das mais impressionantes do mundo antigo, foi fundada antes da
          era cristã e chegou a ter mais de 125 mil habitantes. Na sua capital,
          lojas elegantes, museus renomados e restaurantes gourmet atendem às
          necessidades da vida moderna.
        </p>
        <p>
          Para entender um pouco mais sobre este pais, agende sua viagem e
          disponha-se a percorrer um pouco de cada região.
        </p>
        <p>Importante: O Consulado Geral do México em São Paulo informa:</p>
        <ol>
          <li>
            Foi implementada uma medida de autorização eletrônica, gratuita e
            provisória como visitantes sem permissão para realizar atividades
            remuneradas. Esta disposição entrou em vigor em 11 de dezembro de
            2021.
            https://embamex.sre.gob.mx/brasil/images/pdf/Acordo_de_Supresso_de_vistos.pdf.
          </li>
          <li class="mt-2">
            A autorização pode ser solicitada até 30 dias antes da sua viagem, é
            válida para entrar no México 30 dias após sua emissão e dá direito a
            permanecer no México por 180 dias. Deverá imprimir duas vias da
            autorização.
          </li>
          <li class="mt-2">
            Não será requerido apresentar o formulário, com base nas medidas de
            facilitação da imigração previstas no artigo 26 das Diretrizes para
            procedimentos de imigração, de 2016, aplicável para: · Residentes
            permanentes no Canadá, Estados Unidos da América, Japão, Reino Unido
            da Grã-Bretanha e Irlanda do Norte, qualquer um dos países que
            compõem o Espaço Schengen, bem como os países membros da Aliança do
            Pacífico (Colômbia, Chile e Peru). · Visto válido e vigente do
            Canadá, Estados Unidos da América, Japão, Reino Unido da
            Grã-Bretanha e Irlanda do Norte ou qualquer um dos países que
            compõem o Espaço Schengen. Mais informações no site:
            https://consulmex.sre.gob.mx/saopaulo/index.php/avisos/459-regras-de-entrada-para-cidadaos-brasileiros
          </li>
        </ol>

        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/2.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/3.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/4.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/5.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/6.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/7.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/8.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/9.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/10.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/11.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/12.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/13.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/14.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/15.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/16.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/17.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/18.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/19.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/20.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/21.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/22.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/23.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/24.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/25.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/26.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/27.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/28.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/29.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/30.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/31.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/32.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/33.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/34.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/35.jpg" />
        <img class="img-fluid mt-1" alt="" src="../../../pics/mexico/36.jpg" />



        

  





      </div>
    </div>
  </body>
</html>
